/* Style général */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}

header {
    background-color: white;
    color: #444;
    padding: 20px 0;
    font-size: 24px;
}

/* Section offres */
.offres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Carte offre */
.offre {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    padding: 15px;
}

.offre img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.offre h2 {
    font-size: 22px;
    color: #444;
    margin: 10px 0;
}

.offre p {
    font-size: 16px;
    color: #666;
}

.prix {
    font-size: 18px;
    font-weight: bold;
    color: #FE0000;
    margin: 10px 0;
}

/* Bouton */
.btn {
    display: inline-block;
    background: #FE0000;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #00044D;
}

/* Footer */
footer {
    margin-top: 30px;
    background: #00044D;
    color: #FFF;
    padding: 15px 0;
}